@import "../../scss/styles";
@import "../../scss/TextField";

.login-form {
  &__btn {
    &-login {
      padding-top: 1vw;
      padding-bottom: 1vw;
      width: 100%;
      border-radius: 5px;
      margin-top: 3vw;
      color: $white;
      background-color: $secondary-color;
    }

    &-login:hover {
      background-color: $base-color-lighter;
    }

    &-login:active {
      background-color: $base-color;
    }
  }

  &__register {
    &-link {
      &:hover {
        color: $base-color-lighter;
      }
  
      &:active {
        color: $base-color;
      }

      color: $secondary-color;
    }

    text-align: center;

   font-weight: 300;
   margin-top: 0.8vw;
  }

  text-align: left;
}


