@import "../../scss/styles";
@import "../../scss/TextField";

.register-form {
  &__btn {
    &-register {
      padding-top: 1vw;
      padding-bottom: 1vw;
      width: 100%;
      border-radius: 5px;
      margin-top: 3vw;
      color: $white;
      background-color: $secondary-color;
    }

    &-register:hover {
      background-color: $base-color-lighter;
    }

    &-register:active {
      background-color: $base-color;
    }
  } 

  text-align: left;
}


